@import './normalize.min.css';

* {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-flow: column wrap;
}

.header {
  display: flex;
  height: 4em;
  background-color: rgb(20, 20, 20);
  color: #fff;
  align-content: center;
  align-items: center;
  .name {
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.5em;
  }
}

.content {
  display: flex;
  flex-flow: column wrap;
  margin: 20px;
  .label {
    display: flex;
    justify-content: center;
  }
}


